In [1]:
pip install sqlalchemy pymysql pandas

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from sqlalchemy import create_engine

# Configuración de conexión
usuario = 'root'         # Cambia si tu usuario es otro
contraseña = '0124485640'     # Escribe tu contraseña si tienes una
host = 'localhost'
base_de_datos = 'sakila'

# Crear el engine de conexión
engine = create_engine(f"mysql+pymysql://{usuario}:{contraseña}@{host}/{base_de_datos}")

# Probar conexión
try:
    connection = engine.connect()
    print("✅ Conexión exitosa a la base de datos Sakila.")
    connection.close()
except Exception as e:
    print("❌ Error de conexión:", e)

✅ Conexión exitosa a la base de datos Sakila.

In [4]:
import pandas as pd

def rentals_month(engine, month, year):
    query = f"""
        SELECT *
        FROM rental
        WHERE MONTH(rental_date) = {month}
          AND YEAR(rental_date) = {year}
    """
    df = pd.read_sql(query, engine)
    return df

In [5]:
# Probar la función con mayo de 2005
df_mayo = rentals_month(engine, 5, 2005)
print(df_mayo.head())

   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53

In [6]:
def rental_count_month(df, month, year):
    column_name = f"rentals_{str(month).zfill(2)}_{year}"
    rental_counts = df.groupby("customer_id").size().reset_index(name=column_name)
    return rental_counts

In [7]:
# Contar alquileres por cliente en mayo de 2005
rental_counts_mayo = rental_count_month(df_mayo, 5, 2005)
print(rental_counts_mayo.head())

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3

In [8]:
def compare_rentals(df1, df2):
    merged = pd.merge(df1, df2, on="customer_id", how="outer").fillna(0)
    
    # Tomamos los nombres de las columnas de alquileres
    col1 = merged.columns[1]
    col2 = merged.columns[2]
    
    # Crear columna diferencia (col2 - col1)
    merged["diferencia"] = merged[col2] - merged[col1]
    
    return merged

In [9]:
# Obtener junio de 2005
df_junio = rentals_month(engine, 6, 2005)
rental_counts_junio = rental_count_month(df_junio, 6, 2005)

# Comparar mayo vs junio
comparacion = compare_rentals(rental_counts_mayo, rental_counts_junio)
print(comparacion.head())

   customer_id  rentals_05_2005  rentals_06_2005  diferencia
0            1              2.0              7.0         5.0
1            2              1.0              1.0         0.0
2            3              2.0              4.0         2.0
3            4              0.0              6.0         6.0
4            5              3.0              5.0         2.0

In [10]:
comparacion.to_csv("comparacion_mayo_junio_2005.csv", index=False)